.projects-page-container {
  color: #fefefe;
  padding: 15px;
  background: #a8d0e6;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    'projects-page-header'
    'projects-page-content'
    'projects-page-footer';
}
.projects-page-header {
  grid-area: projects-page-header;
  font-family: TitleFont;
  font-size: 5rem;
  text-decoration: underline #f76c6c;
}
.projects-page-content {
  grid-area: projects-page-content;
  font-family: SubTitleFont;
  height: 100%;
  font-size: 3rem;
}

.projects-card-container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.projects-card {
  display: inline-block;
  height: 100%;
  width: 25%;
  padding: 1rem;
  background: #b9d9eb;
  overflow: hidden;
  border-radius: 2rem;
  margin: 1rem;
  color: #fefefe;
  font-family: SubTitleFont;
}

#projects-card-1 {
}

#projects-card-2 {
}

#projects-card-3 {
}
.projects-card:hover {
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 1);
}

.projects-page-footer {
  grid-area: projects-page-footer;
}

#footer-return {
  display: flex;
  position: absolute;
  bottom: 15px;
}

a {
  text-decoration: none;
  color: #fefefe;
}
