.container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	display: grid;
	height: 100vh;
	grid-template-rows: 0.25fr 0.5fr 0.25fr 0.5fr 1.5fr;
	grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.25fr;
	grid-template-areas:
		'nav pro-des tech-used tech-used tech-learned tech-learned'
		'user-info pro-des tech-used tech-used tech-learned tech-learned'
		'user-info project-1 project-2 project-3 tech-learned tech-learned'
		'education project-viewer project-viewer project-viewer hobby-selector hobby-selector'
		'education project-viewer project-viewer project-viewer hobby-des contact-details';
	grid-gap: 0.5rem;
	text-align: center;
}

.smooth-edges {
	border-radius: 1rem;
}

#nav {
	background: #f76c6c;
	grid-area: nav;
}

#user-info {
	background: #f76c6c;
	grid-area: user-info;
}

#education {
	background: #f76c6c;
	grid-area: education;
}

#pro-des {
	background: #a8d0e6;
	grid-area: pro-des;
}

#tech-used {
	background: #a8d0e6;
	grid-area: tech-used;
}

#tech-learned {
	background: #24305e;
	grid-area: tech-learned;
}

#project-1 {
	background: #a8d0e6;
	grid-area: project-1;
}

#project-2 {
	background: #a8d0e6;
	grid-area: project-2;
}

#project-3 {
	background: #a8d0e6;
	grid-area: project-3;
}

#project-viewer {
	background: #a8d0e6;
	grid-area: project-viewer;
}

#hobby-selector {
	background: #24305e;
	grid-area: hobby-selector;
}

#hobby-des {
	background: #24305e;
	grid-area: hobby-des;
}

#contact-details {
	background: #24305e;
	grid-area: contact-details;
}

@media only screen and (max-width: 550px) {
	.container {
	}
}
