.education-page-container {
  color: #fefefe;
  padding: 15px;
  background: #f76c6c;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    'education-page-header'
    'education-page-content'
    'education-page-footer';
}
.education-page-header {
  grid-area: education-page-header;
  font-family: TitleFont;
  font-size: 5rem;
  text-decoration: underline #24305e;
  text-align: center;
}
.education-page-content {
  grid-area: education-page-content;
  font-family: SubTitleFont;
  height: 100%;
  font-size: 3rem;
}

.education-card-container {
  height: 100%;
  width: 100%;

  text-align: center;
}

.education-card {
  display: inline-block;

  padding: 1rem;
  background: #f87b7b;
  overflow: auto;
  border-radius: 2rem;
  margin: 1rem;
  color: #fefefe;
  font-family: SubTitleFont;
}

#education-card-1 {
  width: 50%;
}

.education-card-content-university {
  height: 90%;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'university-logo university-content';
  font-size: 1.25rem;
  text-align: left;
}

.education-card-content-university-logo {
  text-align: center;
  grid-area: university-logo;
}

.education-card-content-university-content {
  grid-area: university-content;
}

.education-card-content-university-content-grades {
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'year-1-grades year-2-grades';
  font-size: 1rem;
}

.year-1-grades {
  grid-area: year-1-grades;
}

.year-2-grades {
  grid-area: year-2-grades;
}

#education-card-2 {
  width: 40%;
}

.education-card-content-highschool {
  height: 90%;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'highschool-logo highschool-content';
  font-size: 1.25rem;
  text-align: left;
}

.education-card-content-highschool-logo {
  grid-area: highschool-logo;
}

.education-card-content-highschool-content {
  grid-area: highschool-content;
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'education-a-level'
    'education-gcse';
}

#education-card-3 {
}

.education-card:hover {
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 1);
}

.education-page-footer {
  height: 100%;
  grid-area: education-page-footer;
}

#footer-return {
  display: flex;
  position: absolute;
  top: 15px;
}

a {
  text-decoration: none;
  color: #fefefe;
}
