.education-page-container {
  background: #24305e;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    'education-page-header'
    'education-page-content'
    'education-page-footer';
}
.education-page-header {
  grid-area: education-page-header;
}
.education-page-content {
  grid-area: education-page-content;
}
.education-page-footer {
  grid-area: education-page-footer;
}
